@page "/Employee"
@using CRUDBlazor.Models
@using CRUDBlazor.Database
@using CRUDBlazor.Services
@inject EmployeeServices objEmpService 
<NavLink class ="nav-link" href ="AddEmployee">
    <span class="oi oi-plus" aria-hidden ="true"></span>Add new
</NavLink>
<h1>Employee Information</h1>
@if( objEmp == null )
{
    <p>
        <em>
            Loading........
        </em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Employee Name</th>
                <th>Employee Gender</th>
                <th>Employee Country</th>
                <th>Employee City</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var emp in objEmp)
            {
            <tr>
                <td>@emp.EmployeeID</td>
                <td>@emp.Name</td>
                <td>@emp.Gender</td>
                <td>@emp.Country</td>
                <td>@emp.City</td>
                <td>
                    <a class="nav-link" href="EditEmployee/@emp.EmployeeID">
                        <span class="oi oi-pencil" aria-hidden="true"></span>Edit
                    </a>
                    <a class="nav-link" href="DeleteEmployee/@emp.EmployeeID">
                        <span class="oi oi-trash" aria-hidden="true"></span>Delete
                    </a>
                  
                </td>
            </tr>
            }
        </tbody>
    </table>
}
@code {
    List<EmployeeInfo> objEmp;
    protected override async Task OnInitializedAsync()
    {
        objEmp = await Task.Run(() => objEmpService.GetEmployees());
    }

}
